<main id="top" class="masthead" role="main">
  <div class="container admin">

    <h1>Editing quote</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @quote %> |
    <%= link_to 'Back', quotes_path %>

  </div><! --/container -->
</main><! --/main -->
