<main id="top" class="masthead" role="main">
  <div class="container admin">
    <h1>New quote</h1>

    <%= render 'form' %>

    <%= link_to 'Back', quotes_path %>

  </div><! --/container -->
</main><! --/main -->
