<main id="top" class="masthead" role="main">
  <div class="container admin">

    <h1>Editing user</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>

  </div><! --/container -->
</main><! --/main -->